{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}